html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Sandbox 3

        link(rel='icon', type='image/png', href='img/favicon.png')

        include ./styles.pug
        include ./scripts.pug

