html
    head
        title='Sandbox V'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:title' content='Sandbox V')
        meta(property='og:description' content='Sandbox is a hackathon for makers')
        meta(property='og:image' content='http://sandbox.practodev.com/img/logo.png')
        meta(name='theme-color' content='#EFEFEF')

        link(rel='icon', type='image/png', href='img/favicon.png')

        link(rel='stylesheet',
        href='https://fonts.googleapis.com/css?family=Lato')
