html
    head
        title='Sandbox V'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:title' content='Sandbox V')
        meta(property='og:image' content='http://sanbox.practodev.com/img/favicon.png')

        link(rel='icon', type='image/png', href='img/favicon.png')

        link(rel='stylesheet',
        href='https://fonts.googleapis.com/css?family=Lato')
