.hero.fade-in
    .heading='< Sandbox 5 >'
    .tagline Sandbox is a hackathon for makers
    .revolve
        .items.five
            .item 2 days of partying
            .item 2 days of coding
            .item 2 days of designing
            .item 2 days of having fun
            .item 2 days of partying
    .description Leave with some great prizes and memories.
    a.button(href='https://github.com/login/oauth/authorize?scope=user:email&client_id='+ client_id) login with github
