include ./head.pug

style
    include ../static/styles/animations.css

.hero.fade-in(style='text-align:center')
    img.logo.zoom-out(src='img/logo.png')
    .tagline Sandbox is a hackathon for makers
    .register
        a.button.yes(href='https://github.com/login/oauth/authorize?scope=user:email&client_id='+ client_id) register with github
    .description Have fun while building your ideas and win great prizes! Start the year with a BANG!

.band
    span.date January 20 - 21
    span
        a.location(href='https://goo.gl/maps/Y98PRUFiaou') Mars

#photos-container
    .photos
    a.play(
        href='http://www.youtube.com/embed/Ysui45wyxeM?rel=0&autoplay=1',
        target='blank')
        img#play-button(src='./img/play.png')

style
    include ../static/styles/home.css

include ./common-styles.pug
