include ./head.pug

link(rel='stylesheet', href='styles/team.css')

.header
    img.logo(src='img/team.jpg')
    .heading Register your team

.team
    label team name
    input#team-name(type='text', placeholder='what\'s your team called?',
    autofocus, value=team.name)
    label#team-message

.members
    label members
    each member in team.members
        .member=member.name||member.username
    label
        a(href='') invite

.t-shirt
    label your t-shirt size
    input(type='text', placeholder='S/M/L/XL')

include ./common-styles.pug
include ./scripts.pug

