include ./head.pug

link(rel='stylesheet', href='styles/team.css')

.header
    img.logo(src='img/team.jpg')
    .heading Register your team

.team
    label team name
    input(type='text', placeholder='what\'s your team called?', autofocus)

.members
    label members
    .member Siddharth Kshetrapal
    label
        a(href='') invite

.t-shirt
    label your t-shirt size
    input(type='text', placeholder='S/M/L/XL')

include ./footer.pug

