.hero {
    min-height: 80vh;
    text-align: center;
}
.background {
    content: '';
    position: absolute;
    width: 100vw;
    height: 80vh;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}
.hero .logo {
    padding: 5vh 0 2vh;
    height: 30vh;
    width: auto;
}
.hero .tagline {
    color: #999;
}
.hero .play {
    height: 10vh;
    padding: 10vh 0;
    cursor: pointer;
}
.hero .play svg {
    height: 10vh;
    padding: 2vh;
    transition: fill 1s;
}
.hero .play:hover path {
    fill: #2980B9;
}
.hero .description {
    padding-bottom: 5vh;
}
