.hero {
    height: 100vh;
    text-align: center;
}
.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.1;
    background-image: url('/img/background/bg1.png');
    background-size: cover;
}
.hero div {
    font-size: 1em;
    padding: 2vh 0;
}
.hero .heading {
    font-size: 2.5em;
    padding: 30vh 0 0;
}
.hero .revolve {
    padding: 8vh 0;
}
.hero .button {
    display: inline-block;
    margin: 5vh 0 0;
}

