.hero {
    min-height: 80vh;
    text-align: center;
}
.background {
    content: '';
    position: absolute;
    width: 100vw;
    height: 80vh;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}
.hero div {
    padding: 5vh 0;
}
.hero .logo {
    padding: 5vh 0 2vh;
    height: 30vh;
    width: auto;
}
.hero .tagline {
    padding-top: 0;
    color: #999;
}
.hero .register {
    padding: 10vh 0;
}
.band {
    background: #EEE;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}
.band span {
    margin: 0 7vw;
}
.band a {
    color: inherit;
}
#photos-container {
    width: 100vw;
    height: 400px;
    overflow: hidden;
}
.photos {
    height: 400px;
    width: 5400px;
    background: url('../img/people.jpg');
}
.play {
    position: relative;
    top: -275px;
}
.play img {
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
}
.play img:hover {
    opacity: 1;
}

