body {
    background: #F7F7F7;
}
.heading {
    margin-bottom: 10vh;
}
.team, .members, .t-shirt {
    text-align: left;
    width: 80vw;
    margin: 5vh auto;
}
.header img.logo {
    height: 30vh;
    padding: 5vh 0 0;
}
.heading {
    color: #999;
}
.button {
    padding: 1.5vh 5vw;
    margin-top: 2vh;
}
.member {
    padding: 5px;
}
#team-message, #tshirt-message {
    display: inline-block;
}
.saved {
    color: #2cc36b;
}
.failed {
    color: #c0392b;
}
